# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# Public (except index.html, si es necesario)
public/*
!public/index.html

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
