.tracking-info {

    .labelsEntrega,
    h4 {
        color: #153b75 !important;
        text-transform: initial;
    }

    /* Animacion button extras */
    .button-box {
        max-width: 300px;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-left: 0px;
        display: grid;
        margin-top: 10px !important;
    }

    img {
        margin-left: auto;
        transition: 0.5s;
        width: 5.5rem;
        height: 5.5rem;
    }

    img.sm {
        margin-left: auto;
        transition: 0.5s;
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
    }

    .titulo {
        font-weight: bold;
        margin-top: 1rem;
        margin-left: 2rem;
        transition: 0.5s;
        line-height: 2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .description {
        position: absolute;
        margin-top: 1.4rem;
        font-weight: bold;
        line-height: 2rem;
        font-size: 1.5rem;
        font-style: italic;
        transition: 0.5s;
        opacity: 0%;
        margin-left: 2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Button 2 */
    .button2 {
        height: 100px;
        width: 300px;
        display: flex;
        border-radius: 15px;
        transition: 0.5s;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        background-image: linear-gradient(to right top,
                #577cbd,
                #5986d4,
                #4c7dd2,
                #507fd0,
                #5380cf,
                #3d7ae4,
                #3578eb,
                #3a7ff6,
                #1168fe,
                #1367f8,
                #0b64fd,
                #005eff);
        color: white;
        animation: blurr2 2s;
        animation-iteration-count: infinite;
        outline: none;
        cursor: pointer;
        border: none;
    }

    .button2:hover .titulo {
        transform: translateX(300px);
        animation: fade 0.5s;
        opacity: 0%;
    }

    .button2:hover img {
        transform: translateX(-200px);
    }

    .button2:hover .description {
        transform: translateX(70px);
        opacity: 100%;
    }

    @keyframes blurr2 {

        0%,
        100% {
            box-shadow: 0 0 10px var(--btn2);
        }

        50% {
            box-shadow: 0 0 36px var(--btn2);
        }
    }

    .watermark {
        text-align: center;
        color: white;
    }

    .watermark a {
        color: #8081cf;
    }

    .containerSearch {
        max-width: 400px;
        margin-left: auto;

        input {
            border: 1px solid #577cbd;
            color: black;
            text-align: right;
        }
    }

    .completado svg::after {
        border-bottom: 2px solid #153b75;
        content: "";
        left: 50%;
        position: absolute;
        top: 35px;
        width: 100%;
        z-index: 10;
    }

    .containerTracking {
        display: flex;
        flex-direction: column;

    }

    .react-datepicker-wrapper {
        width: 100% !important;
    }

    .busqueda-tracking {
        color: #153b75;
        font-weight: 600;
        font-size: 1.4em;
        width: 100%;
    }

    .busqueda-tracking-input {
        font-size: 2em;
        text-align: center;
        font-weight: bold;
        color: #3862ac;
        padding: 0px !important;
        line-height: 1 !important;
        height: fit-content;
        border-radius: 10px;
        border: 1px solid #153b75;
    }

    .btn-busqueda {
        margin-left: -10px;
        background-color: #577cbd;
        color: white;
        border-color: #577cbd;
        width: 50px;
    }

    .fecha-tracking{
        width: 100%;
        text-align: center;
        color: #153b75;
        font-weight: 400;
    }

    .label-informacion-tracking{
        color: #153b75;
        font-weight: 600;
        font-size: 1em;
        width: 100%;
    }

    .informacion-tracking{
        background-color: #ebebeb;
        border-radius: 7px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.2em;
    }

    .icono-informacion-tracking{
        width: 80% !important;
        height: auto !important;
    }

    .btn-confirmar-direccion{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        background-color: #8bc34a;
        color: white;
        font-weight: bold;
        width: fit-content;
        min-width: 75%;
        font-size: 1.25em;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .btn-reprogramar-entrega{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        background-color: #2279c5;
        color: white;
        font-weight: bold;
        width: fit-content;
        min-width: 75%;
        font-size: 1.25em;
        margin: auto;
    }

    .container-whatsapp-informacion{
        width: 100%;
        text-align: right;
        padding-right: 10%;
        display: flex;
        align-items: center;
    }

    .text-whatsapp-informacion{
        margin-bottom: 0px;
        margin-right: 20px;
        margin-left: auto;
    }

    .btn-whatsapp-informacion{
        background-color: #8bc34a;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1.3em;
        font-weight: 500;
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: 1 !important;
        img{
            width: 25px;
            height: auto;
        }
        span{
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .card-container-tracking{
        box-shadow: 1px 17px 17px 11px rgb(12 12 12 / 10%);
        border: none;
    }

    .titulo-comentarios-informacion{
        color: #153b75;
        font-weight: 600;
        font-size: 1.5em;
        width: 100%;
        text-align: left;
        margin-bottom: 0px;
    }

    .comentarios-informacion{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: #ebebeb;
        margin: auto;
    }

    .titulo-info-guia{
        font-size: 1.4em;
        color: #153b75;
        font-weight: 600;
        margin: auto;
        span{
            font-weight: 200;
            color: black;
        }
    }
    .card-body {
        padding: 2rem !important;
    }
}

@media screen and (max-width: 785px) {
    .tracking-info {
        .contenedorBusquedaGuia {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
            justify-content: center !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        .busqueda-tracking-input{
            font-size: 1.5em;
            line-height: 1.7 !important;
        }

        .contenedorBusquedaGuia{
            div.col-6{
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .icono-informacion-tracking{
            width: 50% !important;
            margin: auto !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .tracking-info {
        .containerSearch {
            padding-top: 10px;
            padding-bottom: 10px;

            input {
                width: 100% !important;
                margin: auto;
                font-size: 2em;
            }

            small {
                text-align: center;
            }
        }

        .button-box {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .contenedorBusquedaGuia {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .busqueda-tracking-input{
            font-size: 1.5em;
            line-height: 1.7 !important;
        }

        .contenedorBusquedaGuia{
            div.col-6{
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .icono-informacion-tracking{
            width: 50% !important;
            margin: auto !important;
        }

        .containerTracking{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .container-whatsapp-informacion{
            padding: 5%;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
            p{
                margin: auto;
                font-size: 1.2em;
                margin-bottom: 5px;
            }
        }
    }
}